.carousel-inner{
    height: 500;
    background-color: #c4c4c4;
  }


.footer-black {
    background-color: black;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.footer-black div {
    color: white;
}

.footer-black div a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
}

/* .main-flexcontainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row-reverse;
} */

.pd-info {
    height: 100vh;
   
}

.pd-info p {
    padding-bottom: 100px;
    padding-top: 100px;
}

.list-group-item a {
    text-decoration: none;
    color: black;
}

.ps-info, .ubicacion, .pedidos-form, .pd-info, .inicio-info {
    background-color: cadetblue;
    padding: 70px;
    
}

.food-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
} 

.form-select {
    width: auto;
    height: auto;
}

.pedidos-form {
    padding: 30px;
}

.btn {
    border: none;
}

.btn-light{
    background-color: cadetblue;
}

.sucursales {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sucursales .card {
    margin-bottom: 20px;
}

.sucursales .card img {
    margin-top: 10px;
}




